body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #1e1e1e;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    width: 360px;
    margin-right: auto;
    margin-left: auto;
}

.content-section_theme_dark {
    color: white;
    background-color: black;
}

.content-section_theme_bright {
    color: black;
    background-color: yellow;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 20px;
}

.header_logo {
    display: block;
    width: 78px;
}

.header_logo-image {
    width: 100%;
}

.header_menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    color: white;
    font-size: 16px;
    list-style-type: none;
}

.header__menu-link {
    color: white;
}

.cover {
    padding: 7px 26px 30px 20px;
    color: white;
    background-color: black;
    background-image: url(./images/cover.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 95% auto;
}

.cover__title {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 400;
    font-size: 72px;
    font-style: normal;
    line-height: 100%;
}

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: end;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    gap: 24px;
    height: 453px;
    padding: 0 20px 38px;
    color: #F5F5F5;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
}

.intro__heading {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    color: #ccc;
    font-size: 16px;
}

.intro__title {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 21.6px;
}

.intro__date {
    font-size: 16px;
    line-height: 120%;
    white-space: nowrap;
}

.intro__main-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.reasons {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 32px;
    padding: 40px 20px;
    color: #131313;
}

.content-section__subtitle span {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 500;
    font-size: 28px;
    font-style: normal;
    line-height: 115%;
}

.content-section__introduction {
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
}

.content-section__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-right: 20px;
    padding-left: 20px;
}

.content-section__list-item {
    width: 304px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 21.6px;
}

.content-section__list-accent {
    font-weight: 700;
}

.how-to {
    padding: 40px 20px 60px;
    color: white;
}

.content-section__introduction {
    padding-top: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
    padding: 20px;
}

.article {
    display: block;
    
}

.cards-list  {
    gap: 32px;
    width: 319px;
    list-style-type: none;
}

.card_theme_dark {
    border-radius: 30px;
    background: var(--gray-bg, #343434);
}

.card_theme_bright {
    border-radius: 30px;
    color: black;
    background: var(--yellow-bg, #FEE42A);
}

.card__author-photo {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card__author-name {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 135%;
}

.card__author {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list-item {
    gap: 8px;
    width: 319px;
    padding: 20px;
}

.card__title {
    font-family: EB Garamond;
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
    line-height: 135%;
}

.card__text {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 21.6px;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    border-top: 1px solid #FEE42A;
    padding: 20px;
    color: white;
    background-color: #131313;
}

.footer__links {
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer__links a {
    color: #F5F5F5;
    font-size: 14px;
    line-height: 1.25;
    text-decoration: none;
}
